
* {
	box-sizing: border-box;
}
body {
	padding: 5%;
	font-family: arial, sans-serif;
}

.clear {
	clear: both;
	height: 1px;
}

#pattern {
	position: relative;
	clear: both;
	overflow: hidden;
	border: 1px solid #cccccc;
	margin: 0;
}

#work-area {
	float: left;
	margin: 0 20px;
}
#instructions {
	display: inline;
	color: #ffffff;
	text-shadow: 0px 0px 3px #222222;
}

.warp {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	border: 3px solid transparent;
}
.warp {
	border-color: #cccccc;
}
.prewarping .warp.use {
	border-color: #000000;
}
.warp.hidden {
	display: none;
}

.point {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 12px solid rgba(200,0,0,0);
	background: rgba(200,0,0,0.05);
	position: absolute;
	margin-top: -15px;
	margin-left: -15px;
}
.point:after {
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: rgba(200,0,0,1);
}
.point:hover {
	background: rgba(200,0,0,0.2);
}
.point:active {
	background: rgba(255,0,0,0.2);
}
.point.start:before {
	display: block;
	content: "start";
	color: #cc0000;
	font-size: 10px;
	position: absolute;
	top: -12px;
	right: 0;
}
.point.start,
.point.start:hover {
	background: transparent;
}
.prewarping .point {
	display: none;/*hide start point that exists before others*/
}

.explanation {
	color: #bbbbbb;
	font-size: 12px;
}

#images {
	overflow: hidden;
	margin-bottom: 0px;
}
#images img {
	border: 1px solid #f0f0f0;
	width: 18%;
	float: left;
	margin: 1%;
}