* {
	box-sizing: border-box;
}

body {
	padding: 0 5% 5%;
	font-family: arial, sans-serif;
	background: #7D7D7D url(../img/mwbg.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clear {
	clear: both;
	height: 1px;
}


/*"Logo"*/
h1 {
	text-align: center;
}
h1 .multi {
	color:#fdb827 !important;
} 
h1 .weave {
	color:#fff !important;
} 

h3 {
	color:#fff;
}

/*Layout elements*/
#intro-wrapper {
	background: url(../img/ltr.png) repeat;
	border-radius: 10px;
	padding: 10px 10px;
	margin-bottom:20px;
}

#intro-wrapper h3 {
	text-align: center;
	font-size: 30px;
}

#intro-wrapper p {
	padding: 0px 40px;
	line-height: 1.7em;
	text-align: center;
}
#images {
	overflow: hidden;
	margin-bottom: 0px;
}
#images img {
	border: 1px solid #f0f0f0;
	width: 18%;
	float: left;
	margin: 1%;
}

#gcode-wrapper {
	border-radius: 10px;
	padding: 10px 0;
	width: 540px;
	margin: 0 auto;
}

#gcode-wrapper {
	color: #ffffff;
}

#weft-distance {
	width: 7em;
}

textarea#gcode {
	width: 500px;
	height: 100px;
	border: 1px solid #cccccc;
}

/*Big button below intro*/
#goto-pattern-button {
  background: #eb8900;
  background-image: -webkit-linear-gradient(top, #eb8900, #d74700);
  background-image: -moz-linear-gradient(top, #eb8900, #d74700);
  background-image: -ms-linear-gradient(top, #eb8900, #d74700);
  background-image: -o-linear-gradient(top, #eb8900, #d74700);
  background-image: linear-gradient(to bottom, #eb8900, #d74700);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  width:100%;
  border: 1px solid #d74700;
      box-shadow: 0px 1px 2px #a78a7c;
	  text-shadow: 1px 0px 3px #190900;
	display: table;
	width: auto;
	margin: 20px auto;
}

/*Pattern editor small buttons*/
button {
  background: #eb8900;
  background-image: -webkit-linear-gradient(top, #eb8900, #d74700);
  background-image: -moz-linear-gradient(top, #eb8900, #d74700);
  background-image: -ms-linear-gradient(top, #eb8900, #d74700);
  background-image: -o-linear-gradient(top, #eb8900, #d74700);
  background-image: linear-gradient(to bottom, #eb8900, #d74700);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 12px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  width: auto;
  border: 1px solid #d74700;
  box-shadow: 0px 1px 2px #a78a7c;
  text-shadow: 1px 0px 3px #190900;
}

button#endWarping,
button#undo {
	float: left;
}

button#newLayer {
	float: right;
}

button:focus {
	outline: none !important;
}

button:hover {
  background: #d74700;
  text-decoration: none;
}


/******************************************************
PATTERN EDITOR
******************************************************/
#work-area {
	float: left;
	margin: 0 20px;
}

#pattern {
	position: relative;
	clear: both;
	overflow: hidden;
	border: 1px solid #cccccc;
	margin: 8px 0 0;
	background: url(../img/ltr.jpg);
	border-radius: 10px;
}

#layerWeaves {
	background: #fff;
}

#instructions {
	display: inline;
	color: #ffffff;
	text-shadow: 0px 0px 3px #222222;
}

.warp {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
	border: 3px solid transparent;
}
.warp {
	border-color: #cccccc;
}
.prewarping .warp.use {
	border-color: #000000;
}
.warp.hidden {
	display: none;
}

.point {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 12px solid rgba(200,0,0,0);
	background: rgba(200,0,0,0.05);
	position: absolute;
	margin-top: -15px;
	margin-left: -15px;
}
.point:after {
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: rgba(200,0,0,1);
}
.point:hover {
	background: rgba(200,0,0,0.2);
}
.point:active {
	background: rgba(255,0,0,0.2);
}

.point.current {
	background: rgba(238, 1, 254, 0.2);
}
.point.current:after {
	background: #ee01fe;
}
.point.current:hover {
	background: rgba(238, 1, 254, 0.2);/*no change on hover*/
}

.point.start:before {
	display: block;
	content: "start";
	color: #cc0000;
	font-size: 10px;
	position: absolute;
	top: -12px;
	right: 0;
}

.prewarping .point {
	display: none;/*hide start point that exists before others*/
}

#layer-indicator {
	float: right;
	font-size: 1.2em;
	color: #ffffff;
	margin-right: 1em;
}
#layer-indicator:before {
	display: inline;
	content: "Layer no: ";
	font-size: 0.65em;
}





	
